<!DOCTYPE html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8 "/>
    <title>Crear usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Proyectos</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="index.html"><p class="text-center"><i class="material-icons">home</i></p><p class="text-center">Inicio</p></a></li>
            <li><a href="new_project.php"><p class="text-center"><i class="material-icons">note_add</i></p><p class="text-center">Nuevo Proyecto</p></a></li>
            <li class="active"><a href="new_user.html"><p class="text-center"><i class="material-icons">person_add</i></p><p class="text-center">Nuevo Usuario</p></a></li>
            <li><a href="list-projects.php"><p class="text-center"><i class="material-icons">assignment</i></p><p class="text-center">Proyectos</p> </a></li> 
            <li><a href="finished.html"><p class="text-center"><i class="material-icons">assignment_turned_in</i></p><p class="text-center">Proyectos Terminados</p></a></li>
            <li><a href="in-process.html"><p class="text-center"><i class="material-icons">assignment_ind</i></p><p class="text-center">Proyectos En Proceso</p></a></li>
            <li><a href="abandoned.html"><p class="text-center"><i class="material-icons">close</i></p><p class="text-center">Proyectos Abandonados</p></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right veoteimg">
            <li><a href="index.html"><span><img src="img/veotek.png" width="140"></span></a></li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron">
        <h2>Registro de Usuario</h2>
        <div class="row" id="register" ng-app="userApp" ng-controller="userCtrl" ng-submit="pushData(frm)">
          <form role="form" class="form-horizontal">
            <div class="form-group"><label>Nombre</label><input class="form-control" type="text" ng-model="frm.name"></div>
            <div class="form-group"><label>Apellidos</label><input class="form-control" type="text" ng-model="frm.lastname"></div>
            <div class="form-group"><label>Departamento</label><input class="form-control" type="text" ng-model="frm.department"></div>
            <input class="btn btn-default" type="submit" value="Registrar">
          </form>
        </div>
      </div>
    </div>
    

    <script type="text/javascript">

    angular.module('userApp',[])

    .controller('userCtrl', ['$scope', '$http', '$log', '$location', '$window', function($scope, $http, $log, $location, $window) {

      $scope.pushData = function($params) {
        $http.post('register-user.php',{'name':$params.name, 'lastname':$params.lastname, 'department':$params.department})
          .success(function(data) {
            $window.location.href = "index.html";
          })
          .error(function(err) {
            $log.error(err);
          })
      }

    }])

    </script>
  </body>
  <footer class="container-fluid text-center">
    <p>Veotek<i class="material-icons">copyright</i> <span id="theYear"></span></p>
  </footer>
  <script type="text/javascript">
      var d = new Date();
      var n = d.getFullYear();
      document.getElementById("theYear").innerHTML = n;
  </script>

</html>